body {
    background: #0CE9AF;
    display: flex;
    flex-direction: column;
    font-family: Lato;
    height: 100%;
    margin: auto;
    text-shadow: 0 0px 2px rgba(245, 245, 245, .25);
}

#container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .75);
    margin: auto;
    width: auto;
}

.box-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-input svg {
    width: 5rem;
    height: 5rem;
    fill: currentColor;
}

form {
    width: auto;
    color: #fff;
    margin: 0;
}

input[type="button" i],
input[type="file" i]::-webkit-file-upload-button {
    display: none!important;
}

.box {
    font-size: 1.25rem;
    background-color: rgba(0, 142, 198, 1);
    border: 4px solid #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .75);
    padding: 5rem 8rem;
}

.box-input label {
    margin: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
    overflow: hidden;
}

button {
    background: #0CE9AF;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    color: #fff;
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
    margin: auto;
    margin-top: 2.5rem;
    overflow: auto;
    padding: 1rem 1.5rem;
}

input {
    border-radius: 0;
    border: none;
}

strong {
    color: #fff;
}